.copy_link_content.show_copy {
	opacity: 1;
	visibility: visible;
}
.sold .sold-count:hover .sold-items {
    opacity: 1;
    visibility: visible;
}
.product-stars-icons:hover .product-stars-dropdown {
    opacity: 1;
    visibility: visible;
}
.likeOne {
    display: none;
}
.like-full {
    display: block;
    width: 20px;
    height: 20px;
}
.ilike-none {
    display: none;
}
/*Gallery CSS*/
.slider-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 24px;
}
.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery,
.gallery .tile {
	height: 412px;
}
.thumbs .swiper-slide {
	cursor: pointer;
}
.swiper-button-disabled {
	opacity: .2;
}
.gallery {
	width: 80%;
}
.one-main-slider {
	width: 100%;
}
.thumbs {
	height: 412px;
	width: 25.8%;
}
.thumbs .swiper-slide-thumb-active {
	border: 4px solid #00ae5a;
	border-radius: 8px;
	overflow: hidden;
}
.thumbs img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.y-btn {
	position: absolute;
	z-index: 2;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #eee;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}
.y-btn i {
	font-size: 20px;
}
.y-next {
	right: 0;
}
.y-prev {
	left: 0;
}
.gallery-thumbs .y-btn {
	width: 16px;
}
.gallery-thumbs {
	padding-left: 20px;
	padding-right: 20px;
}
.y-prev i {
	-webkit-transform: rotateZ(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotateZ(-180deg);
}
.gallery-thumbs .swiper-slide-thumb-active .sub-slider-item {
	border: 4px solid #00ae5a;
}
.gallery-thumbs .sub-slider-item {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.gallery-top .y-prev,
.gallery .y-prev {
	left: 12px;
}
.gallery-top .y-next,
.gallery .y-next {
	right: 12px;
}
.gallery-thumbs .y-btn {
	background: #eee;
	border-radius: 0;
	height: 100%;
}
.zoomin {
	position: absolute;
	top: 16px;
	right: 16px;
	border-radius: 100%;
	background: #fff;
	width: 32px;
	height: 32px;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#tab2Btn, #tab1Btn {
	border-color: #ccc;
}
#tab1Btn.bg-blue-600 {
	border-color: #1d8848;
}
#tab2Btn.bg-blue-600 {
	border-color: #1d8848;
}