
* {
	font-family: "Inter", sans-serif;
}
.container {
	max-width: 1470px;
	padding: 0px 15px;
	margin: 0 auto;
}

ol,
ul {
list-style: none;
}

a,
a:hover {
text-decoration: none;
}

body {
background-color: rgb(var(--color-gray3));
}
/*header*/
.notification_holder.notification-active {
	visibility: visible;
	opacity: 1;
}
.header_bottom_wrapper ul li a.active-link::before {
	content: "";
	height: 6px;
	background-color: #1d8848;
	border-radius: 6px;
	bottom: -4px;
	z-index: 9;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.header_logo {
	position: relative;
    height: 95px;
    display: flex;
    align-items: center;
}
.header_logo::before {
	content: "";	
	width: 100%;
	height: 100%;
	background-image: url(./img/left_menu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
}
/*Manufacturer Details*/
.image::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 285px;
	display: block;
	background-color: #d9d9d9;
	bottom: 0;
	right: -15px;
	top: 0;
}
.btn-theme-primary {
	margin-bottom: 12px;
	width: 240px;
	padding: 12px 0;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	transition: all 0.5s linear;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	border-radius: 5px;
	max-width: 124px;
	height: 44px;
	cursor: pointer;
	background: #1d8848;
	color: #ffffff;
	border: 2px solid #1d8848;
}
.btn-theme-primary:hover {
	background: #ffffff;
	color: #1d8848;
	border: 2px solid #1d8848;
}
.btn-theme-outline {
	margin-bottom: 12px;
	width: 240px;
	padding: 12px 0;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	transition: all 0.5s linear;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	border-radius: 5px;
	max-width: 124px;
	height: 44px;
	cursor: pointer;
	background: #ffffff;
	color: #1d8848;
	border: 2px solid #1d8848;
}
.btn-theme-outline:hover {
	background: #1d8848;
	color: #ffffff;
	border: 2px solid #1d8848;
}
.detailed-rating-list::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 224px;
	background-color: rgba(217, 217, 217, 1);
	display: block;
	top: -5px;
	right: 65px;
}
.sign-with>p:first-child::before {
    content: "";
    position: absolute;
    width: 178px;
    height: 1px;
    background-color: #676767;
    display: block;
    left: -25px;
    top: 50%;
}
.sign-with>p:first-child::after {
    content: "";
    position: absolute;
    width: 178px;
    height: 1px;
    background-color: #676767;
    display: block;
    right: -25px;
    top: 50%;
}
/*account create detail*/
.account-create-tab.border-blue-600 span {
	background-color: #1d8848;
}
/**/
.signinwithdivider::before {
    content: "";
    position: absolute;
    width: 178px;
    height: 1px;
    background-color: #676767;
    display: block;
    left: -25px;
    top: 50%;
}
.signinwithdivider::after {
    content: "";
    position: absolute;
    width: 178px;
    height: 1px;
    background-color: #676767;
    display: block;
    right: -25px;
    top: 50%;
}