
* {
	font-family: "Inter", sans-serif;
	line-height: 1.2;
}
.container {
	max-width: 1470px;
	padding: 0px 15px;
	margin: 0 auto;
}

ol,
ul {
list-style: none;
}

a,
a:hover {
text-decoration: none;
}

body {
background-color: rgb(var(--color-gray3));
}
/*header*/
.notification_holder.notification-active {
	visibility: visible;
	opacity: 1;
}
.header_bottom_wrapper ul li a.active-link::before {
	content: "";
	height: 6px;
	background-color: #1d8848;
	border-radius: 6px;
	bottom: -4px;
	z-index: 9;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
}